$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #023c72;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a {
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:link {
    color: #fff;
  }

  &:visited {
      color: #fff;
  }

  &:active {
      color: #fff;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.stp-nav {
  margin-top: 2em;
}

.stp-nav-link {

  font-size: 1.5em;

  a:active {
    text-decoration: underline;
    -moz-text-decoration-color: #fff; /* Code for Firefox */
    text-decoration-color: #fff;
  }

}

.link {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

#red {
  fill: red;
}

.link.red {
  stroke: red;
}

.link.dotted {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #fff;
  stroke-width: 1.5px;
}

/* circle:hover{
  fill: #ffe900;
  cursor: pointer;
} */

.pointer-cancel{
  pointer-events: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.titleText {
  font-size: 24px;
  font-weight: bold;
}

.subtitleText {
  font-size: 13px;
}

.nodeText {
  fill: #fff;
  font-size: 12px;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
}