<div style="margin: 0 auto; float: none; width: 40%; color: #fff; text-align: center; margin-top: 5em;">
  <img src="images/stp_logo_small.png">
  <div style="margin-bottom: 2em; margin-top: 2em;">
    <a href="#/main">click to enter site</a>
  </div>

    Each of the parts of philosophy is a philosophical whole, a circle rounded and complete in itself. In each of these parts, however, the philosophical Idea is found in a particular specificality or medium. The single circle, because it is a real totality, bursts through the limits imposed by its special medium, and gives rise to a wider circle. The whole of philosophy in this way resembles a circle of circles. The Idea appears in each single circle, but, at the same time, the whole Idea is constituted by the system of these peculiar phases, and each is a necessary member of the organisation. - Hegel, Encyclopaedia of the Philosophical Sciences (1830)
</div>